@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-theme-background-color: #1d1d1d;
  --yellow-theme-main-color: #ffdd40;
  --yellow-theme-sub-text-color: #ffffff;
  --yellow-theme-nav-background-color: #181818;
  --l: 200px; /* length changed to 200px */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--yellow-theme-background-color);
  height: 100%;
}

#root {
  height: 100%;
}

@keyframes typingEffect {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

.animate-typingEffect {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  animation: typingEffect 2s steps(30, end) ;
}
